input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    color: white;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    
    position: relative;
    top: 75px;
    gap: 20px;
}

.btn {
    background-color: #000;
    color: white;
    font-size: x-large;

    width: 275px;
    height: 75px;
    border: 2px solid green;
    border-radius: 8px;

    box-shadow: 0px 10px 0px 0px rgb(0, 92, 0);

    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    width: 300px;
    border-color: white;
}

.btn:active {
    background-color: #000;
    color: green;
    border-color: white;

    width: 265px;
    height: 70px;
    box-shadow: none;
}

.input {
    background-color: #000;
    color: white;
    font-size: xx-large;

    padding: 15px;
    border: 2px solid green;
    border-radius: 12px;

    outline: none;
    resize: none;
    transition: 0.3s;
}

.input:hover {
    border-color: white;
}

.shiftInput {
    background-color: #000;
    color: white;
    font-size: x-large;

    width: 164px;
    padding: 15px;

    border: 2px solid green;
    border-radius: 8px;

    outline: none;
    transition: 0.3s;
}

.shiftInput:hover {
    border-color: white;
}

p {
    font-size: xx-large;
    max-width: 600px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.5;
    text-align: left;
}
